*{ 
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#111,#222);
    display: flex;
    align-items: center;
    justify-content: center;
}
body::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(255, 4, 4, 0.736);
    position: absolute;
    clip-path: circle(40% at right 70%);
    z-index: -1;
}
.container{
  width: 80%;
  height: 80%;
  background-color:rgba(255, 255, 255,0.1);
  border-radius: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
nav .logo{
    text-decoration: none;
    font-size: 32px;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
    transition:0.8s;
    margin-top: 10px;
}
nav .logo:hover{
    color: red;
}
nav ul li{
    display:inline-block;
   margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition:0.8s;
}
nav ul li a:hover{
    color: red;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color: white;
    width: 40%;
 
}
.content .text h2{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;

}
.content .text p{
    line-height: 25px;
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.content .image{
    width: 40%;
    position: relative;
    margin-bottom:200px ;

    transition: all 0.5s ease;
}
.content .image img{
    position: absolute;
    max-width: 100%;    
    
}
.content .image:hover{
    margin-bottom:150px ;
   
}
span{
    color: red;
}
.eg{
    color: red;
}